
//EJS is a client-side templating language that was originally part of JavaScriptMVC, which has now been replaced by DoneJS.

<!DOCTYPE HTML>
<head>
   <title>Hello</title>
</head>

<body>
  <h1> This is a boilerplate </h1>

  <%- body -%>


 </body>

 </html> 